<footer class="footer-container">
    <div class="footer-content-section">
        <div
                class="content-top d-flex align-items-center justify-content-between w-100"
        >
            <div class="footer-logo-section">
                <a href="#" class="logo text-dark">প্রিয়াংকার ভুবন</a>
                <p class="text-dark p-3">
                    ভালোবাসার অপর নাম "কাঠগোলাপ"<br/>

                    নিয়মের অনিয়মে মুক্ত জীবনের চর্চা,টুকরো টুকরো সময় ক্ষেপণ !
                </p>
            </div>
            <div class="footer-li-section">
                <ul class="float-end p-3">
                    <li><a href="">কবিতা</a></li>
                    <li><a href="">গল্প</a></li>
                    <li><a href="">গ্যালারি</a></li>
                    <li><a href="">সাহিত্য পর্যালোচনা</a></li>
                    <li><a href="">সিনেমা পর্যালোচনা</a></li>
                </ul>
            </div>
        </div>
        <div class="content-bottom">
            <div style="height: 50%; width: 100%">
                <hr
                        style="
                color: black;
                background-color: black;
                width: 100%;
                height: 2px;
                margin-top: 0;
              "
                />
            </div>
            <div class="d-flex align-items-center justify-content-between w-100">
                <p class="text-dark">
                    &copy; all rights reserved by Priyanka Biswas
                </p>
                <p class="text-dark">Powered by <a href="">privateye</a></p>
            </div>
        </div>
    </div>
</footer>