<nav>
      <a href="./index.html" class="logo">প্রিয়াংকার ভুবন</a>
      <div class="side-bar-button">
        <img onclick="openMenu()" src="./asset/images/png/menu.png" alt="" />
      </div>
      <div class="nav-right" id="nav-right-id">
        <img
          onclick="closeMenu()"
          class="side-bar-close"
          src="./asset/images/png/menu-close.png"
          alt=""
        />
        <ul class="nav-ul">
          <li class="nav-li"><a href="./other_files/kobita.html">কবিতা</a></li>
          <li class="nav-li"><a href="./other_files/golpo.html">গল্প</a></li>
          <li class="nav-li">
            <a href="./other_files/gallery.html">গ্যালারি</a>
          </li>
          <li class="nav-li">
            <a href="./other_files/shahityo.html">সাহিত্য পর্যালোচনা</a>
          </li>
          <li class="nav-li">
            <a href="./other_files/cinema.html">সিনেমা পর্যালোচনা</a>
          </li>
        </ul>
      </div>
    </nav>