/* .owl-item {
  margin-right: 0 !important;
}
.owl-nav {
  top: 30%;
  margin-top: 0 !important;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 25px;
  border-radius: 0;
  margin: 0;
} */
