{% extends 'website/layouts/base.html' %}
{% block title %}
    হোম
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
    <!-- ----------------------landing page first-section start------- -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 first-page-left" style="height: 100vh">
                <img
                        class="priyanka_img img-fluid position-relative"
                        src="/static/assets/images/r_priyanka.jpg"
                        alt=""
                />
            </div>
            <div class="col-md-9 bg-dark heightAuto" style="height: 100vh">
                <div
                        class="landing-title-section heightAuto d-flex flex-column align-items-center justify-content-center"
                >
                    <h2 class="display-1 text-light">আমি প্রিয়াংকা</h2>

                    <p class="text-light">আমি ভালোবাসি লিখতে</p>
                </div>
                <div class="social-section">
                    <div class="d-flex flex-column">
                        <a href=""
                        ><img
                                class="social-icon"
                                src="/static/assets/images/png/facebook.png"
                                alt=""
                        /></a>
                        <a href=""
                        ><img
                                class="social-icon"
                                src="/static/assets/images/png/instagram.png"
                                alt=""
                        /></a>
                        <a href=""
                        ><img class="social-icon" src="/static/assets/images/png/twitter.png" alt=""
                        /></a>
                        <a href=""
                        ><img class="social-icon" src="/static/assets/images/png/youtube.png" alt=""
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------------------landing page first-section end--------- -->

    <!-- ---------------------------landing page second-section start---------- -->

    <div class="container-fluid heightAuto" style="height: 100vh">
        <div class="row">
            <div
                    class="col-md-9 bg-dark d-flex align-items-center justify-content-center second-page-left heightAuto"
                    style="height: 100vh"
            >
                <p class="text-light">
                    অপরূপ সৌন্দর্যের লীলাভূমি বাংলাদেশের সর্ব দক্ষিণের কক্সবাজারের
                    টেকনাফ উপজেলার সেন্ট মার্টিন দ্বীপ। বিশাল আকাশের নিচে বঙ্গোপসাগরের
                    নীল ঢেউয়ের গর্জন দেশ-বিদেশের মানুষকে প্রতিবছর একটু আনন্দ-বিনোদন
                    দেওয়ার জন্য কাছে টেনে নেয় অসংখ্য প্রবালে মিশে থাকা এ প্রবাল দ্বীপ। এ
                    দ্বীপে রয়েছে সারি সারি নারকেলগাছ। এ কারণে দ্বীপটিকে ‘নারিকেল
                    জিঞ্জিরা’ও বলা হয়। যান্ত্রিক জীবনের একঘেয়েমি দূর করার জন্য
                    প্রতিবছরের শীত মৌসুম, অর্থাৎ নভেম্বরে শুরু থেকে মার্চ পর্যন্ত
                    প্রতিদিন ছুটে যান দেশি-বিদেশি হাজারো পর্যটক। এ দ্বীপের সৌন্দর্যের
                    বর্ণনা বিভিন্ন ধরনের লোকের মুখে মুখে শুনে, মিডিয়া ও সামাজিক
                    যোগাযোগমাধ্যমগুলোতে এর অপরূপ সৌন্দর্য দেখে মুগ্ধ হই। মনে ইচ্ছা জাগে,
                    যেভাবেই হোক স্বচক্ষে দেখতে হবে অপরূপ সৌন্দর্যের লীলাভূমি এই সেন্ট
                    মার্টিন দ্বীপকে। জাতীয় গণমাধ্যম ইনস্টিটিউট থেকে শিক্ষা সফরে আমরা
                    প্রশিক্ষকসহ ১৭ জন ৭ ডিসেম্বর রাত ১০টায় বাসে করে ঢাকার কল্যাণপুর থেকে
                    কক্সবাজারের উদ্দেশে যাত্রা শুরু করি। ৮ ডিসেম্বর সকাল আটটায়
                    কক্সবাজারের কলাতলীর মোড়ে পৌঁছাই। এরপর একটি আবাসিক হোটেলে উঠি। ফ্রেশ
                    হয়ে এবং সকালের নাশতার পর সমুদ্রসৈকতের লাবণী পয়েন্টে ঘোরাঘুরি করি। এ
                    পয়েন্টে একটি ঝিনুক মার্কেটও রয়েছে। এ মার্কেটে শামুক-ঝিনুকের তৈরি
                    জিনিসপত্র ছাড়াও দেশি-বিদেশি বাহারি রঙ্গের দ্রব্যসামগ্রীও পাওয়া যায়।
                    লাবণী পয়েন্টের সৈকতে দেখতে পাই, হাজারো পর্যটক বিভিন্ন আনন্দে
                    মেতেছেন। এখানে তরুণ-তরুণী, নব্য দম্পতি, মধ্যবয়সীরা সমুদ্রতীরে ঢেউয়ের
                    মধ্যে সাঁতার কাটছেন, কেউ আনন্দে উল্লসিত হয়ে হেলেদুলে আত্মহারা হয়ে
                    যাচ্ছেন। এরূপ রোমাঞ্চকর পরিবেশে সমুদ্রের গর্জন দেখে আমাদের মধ্যে কেউ
                    কেউ গোসল ও সাঁতার কাটেন। দেখা যায়, কেউ কেউ স্পিডবোটযোগে উঁচু ঢেউয়ের
                    মধ্যে দিয়ে সমুদ্রের পানিতে মিশে যাচ্ছেন, আবার ভেসে উঠছেন।
                </p>
            </div>
            <div class="col-md-3 second-page-right" style="height: 100vh"></div>
        </div>
    </div>

    <!-- --------------------------landing page second-section end----------- -->

    <!-- --------------------------landing page third-section start----------- -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 page-third-left bg-dark" style="min-height: 100vh">
                <div class="row g-0 justify-content-center">
                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-0 justify-content-center">
                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-0 justify-content-center">
                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                            class="card m-3"
                            style="max-width: 540px; background-color: turquoise"
                    >
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        src="/static/assets/images/books400x320.jpg"
                                        class="img-fluid rounded-start h-100 w-100"
                                        alt="image"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title f-weight">দোটানা কথন</h5>
                                    <p class="card-text">
                                        তোমাকে দেখি না ,তোমাকে শুনি না,<br/>
                                        ছুঁই না হাজার বছর । <br/>
                                        তাইতো কেবল বুকের ভেতরের ভিসুভিয়াসটা<br/>দাউ দাউ করে পোড়ে
                                        ।<br/>ঠিক ততক্ষণ পোড়ে যতক্ষণ সিগারেটের ফিল্টারের
                                        উত্তাপটুকু
                                    </p>
                                    <span class="card-text"><a href="">See More</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                    class="col-md-3 page-third-right heightAuto"
                    style="min-height: 100vh"
            >
                <form class="d-flex flex-column align-items-center" action="">
                    <img class="s-png m-2" src="/static/assets/images/png/letter.png" alt=""/>
                    <h2 class="text-center m-2">Subscribe to my news letter</h2>
                    <input
                            class="form-control m-2"
                            type="text"
                            placeholder="enter your email"
                    />
                    <div class="d-flex align-items-end w-100">
                        <button class="btn btn-outline-dark m-2">send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- --------------------------landing page third-section end----------- -->

    <!-- ------------------------------carousel section start----------- -->

    <!-- <div class="container-fluid carousel-section"> -->
    <div class="owl-carousel bg-dark">
        <img class="owlImage" src="/static/assets/images/owl-image/owl-1.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-2.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-3.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-4.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-5.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-6.jpg" alt=""/>
        <img class="owlImage" src="/static/assets/images/owl-image/owl-1.jpg" alt=""/>
    </div>

    <!-------------------- carousel section end------------------------------ -->
{% endblock %}